@import "tailwindcss";
@theme {
  --color-primary: #454545;
  --color-light: #ffffff;
  --color-light-gray: #f5f5f5;
  --color-medium-gray: #d1d5db;
  --color-dark-bg: #2d2d2d;
}

::-webkit-scrollbar{
  width: 0px;
}

/* Container */
.phone-wrapper {
  width: 100%;
  position: relative;
}

